@import '../../../../app/app.component.scss';

.friends {
    background: $light-color;
    padding: 16px;
    height: 100vh;
    overflow: hidden;

    &-list {
        padding: 16px;
        border-bottom: 1px solid gray;
        cursor: pointer;
    }

    &-content {
        margin-top: 28px;
    }
}